.forms {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: inner 1px solid #ddd;
  margin-bottom: 2rem;
  background: #eee;
}

.input,
.select,
.textarea {
  border: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.input,
.select {
  flex: 1 1 30%;
  height: 25px;
  font-size: 0.8rem;
  padding-left: 0.5em;
  color: #444;
}

.textarea {
  flex-basis: 100%;
  padding: 0.5em;
}
.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
}

.btns {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.upload {
  width: 100%;
  height: 100%;
}

.add {
  border: none;
  padding: 1em 0;
  font-weight: bold;
  background: #30475e;
  flex-basis: 50%;
  color: #fff;
}
