@value mainColor from '/src/common/colors.css';

.preview {
  flex-basis: 50%;
}
.title {
  font-size: 1.5rem;
  color: mainColor;
  text-align: center;
}

.previewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
