@value mainColor from '/src/common/colors.css';

.maker {
  flex-basis: 50%;
}
.title {
  font-size: 1.5rem;
  color: mainColor;
  text-align: center;
}
.makerWrapper {
  width: 96%;
  margin: 0 auto;
}
