@value mainColor from '/src/common/colors.css';

header {
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  background: mainColor;
  position: relative;
}

.logout {
  position: absolute;
  right: 1.5em;
  top: 1em;
  background: #2f3a64;
  color: rgba(255, 255, 255, 0.5);

  border: none;
  padding: 0.7em 1.5em;
  border-radius: 20px;
  font-size: 12px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.logout:hover {
  opacity: 1;
}

.logo {
  width: 4em;
}
.text {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 0.5em;
  display: block;
}
